<form action="/" method="post">
    <h4>Agregar Producto</h4>
    <div class="row g-3">
        <div class="col">
            <input type="text" class="form-control" placeholder="Nombre" name="title">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Precio" name="price">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="Imágen" name="url">
        </div>
        <div class="col">
            <button type="submit" class="btn btn-success">Guardar</button>
        </div>
    </div>
</form>
